<div class="row user-show">
  <%= render partial: "aside", locals: {twitter: "https://twitter.com/" + @user.twitter.to_s} %>

  <div class="col-md-8">
    <div class="background-white">
      <h2><%= title %>した武将</h2>

      <% if @posts.present? %>
          <font size="4">
            <b>武将数:&nbsp;</b><%= @user_posts.count %>
          </font>
          
        <div class="row g-4 m-auto">
          <%= render partial: "post", collection: @posts %>
        </div>

        <div class="pagination justify-content-center">
          <%= paginate @posts %>
        </div>

      <% else %>
        <br>
        <br>
        <p>武将がいません</p>
        <p>武将がいません</p>
      <% end %>
    </div>
  </div>
</div>