<h2><b><%= @user.nickname %></b>が<%= @title %>した武将</h2>

<% if @posts.present? %>
  <div class="count-posts">
    <b>武将数:&nbsp;</b><%= @posts.count %>
  </div>

  <section class="row g-4 card-user">
    <%= render partial: "post", collection: @posts %>
  </section>

  <div class="pagination justify-content-center">
    <%= paginate @posts %>
  </div>

<% else %>
  <p class="text-center">武将はありません</p>
<% end %>