<div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card h-100 text-card-container">
    <%= link_to user do %>
      <div class="card-title"><%= user.nickname %></div>
      <div class="card-img-top">
        <%= image_tag user.user_image.url, :size => "150" %>
      </div>
    <% end %>

    <div class="card-body">
      <p class="card-text"><%= user.profile %></p>
      <%= link_to user_path(user.id), class: "btn btn-show-delete" do %>
        <i class="fas fa-envelope-open-text"></i>&nbsp;<span>詳細</span>
      <% end %>
      </p>
    </div>
  </div>
</div>