<div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card h-100 text-card-container">
    <%= link_to user do %>
      <div class="card-title"><%= user.nickname %></div>
      <div class="card-img-top">
        <%= image_tag user.user_image.url, :size => "150" %>
      </div>
    <% end %>

    <div class="card-body">
      <p class="card-text"><%= user.profile %></p>

      <% unless current_user?(user) %>
        <% if current_user.following?(user) %>
          <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
                      html: { method: :delete }, local: true) do |f| %>
            <div class="">
            <%= f.submit "アンフォロー", class: "btn btn-secondary"  %>
            </div>  
          <% end %>
          
        <% else %>
          <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
            <div><%= hidden_field_tag :followed_id, user.id %></div>
            <%= f.submit "フォロー", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>

      <%= link_to user_path(user.id), class: "btn btn-show-delete" do %>
        <i class="fas fa-envelope-open-text"></i>&nbsp;<span>詳細</span>
      <% end %>
      </p>
    </div>
  </div>
</div>