<section class="user-show">
  <p><%= image_tag @user.user_image.url, :size => "150" %></p>
  <p><b><%= @user.nickname %></b></p>

  <% if @user.twitter.present? %>
    <%= link_to @twitter, class: "twitter", target: "_blank" do %>
      <i class="fa-brands fa-twitter"></i>
    <% end %>
  <% end %>

  <p><%= @user.profile %><br></p>

  <% @user ||= current_user %>
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      フォロー&nbsp;&nbsp;
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      フォロワー
    </a>
    <%= render "follow_form" %>

  <div class="text-center">
    <%= link_to regists_user_path(@user), class: "btn btn-comment-search" do %>
      <i class="fa-regular fa-square-plus"></i>&nbsp;<span>登録した武将</span>
    <% end %>
    <%= link_to likes_user_path(@user), class: "btn btn-comment-search" do %>
      <i class="fa-solid fa-heart"></i>&nbsp;<span>いいねした武将</span>
    <% end %>
    <%= link_to comments_user_path(@user), class: "btn btn-comment-search" do %>
      <i class="fa-solid fa-message"></i>&nbsp;<span>コメントした武将</span>
    <% end %>
  </div>

  <div class="text-center">
    <% if @user.id == current_user.id %>
      <% unless @user.email == "guest@example.com" %>
        <%= link_to edit_user_registration_path, class: "btn btn-edit" do %>
          <i class="fa-regular fa-pen-to-square"></i>&nbsp;<span>アカウント編集</span>
        <% end %>
      <% end %>
    <% end %>
  </div>

</section>