<h1><%= @user.nickname %>のページ</h1>

<section>
  <% if @user.id == current_user.id %>
    <%= link_to edit_user_registration_path, class: "btn btn-edit" do %>
      <i class="fa-regular fa-pen-to-square"></i>&nbsp;<span>アカウント編集</span>
    <% end %>
  <% end %>

  <%= link_to likes_user_path(@user), class: "btn btn-comment-search" do %>
    <i class="fa-solid fa-heart"></i>&nbsp;<span>いいね一覧</span>
  <% end %>

  <% @user ||= current_user %>
  <div class="stats"></div>
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      フォロー
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      フォロワー
    </a>
        <%= render "follow_form" if user_signed_in? %>
  </div>
</section>

<h2>登録武将一覧</h2>

<table class="table table-bordered table-striped mt-4">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="break-word"><b><%= post.name %></b></td>
        <td><%= image_tag post.image.thumb.url %></td>
        <td id="post-<%= post.id %>">
          <% if post.liked_by?(current_user) %>
            <%= link_to "💖", post_likes_path(post), method: :delete, remote: true %>
            <%= post.likes_count %>
          <% else %>
            <%= link_to "🤍", post_likes_path(post), method: :post, remote: true %>
            <%= post.likes_count %>
          <% end %>
        </td>
        <td class="text-nowrap">
          <%= link_to post, class: "btn btn-primary" do %>
            <i class="fas fa-envelope-open-text"></i> <span class="d-none d-md-inline"> 詳細</span>
          <% end %>
          <% if current_user.id == @user.id %>
            <%= link_to edit_post_path(post), class: "btn btn-success" do %>
              <i class="far fa-edit"></i> <span class="d-none d-md-inline"> 編集</span>
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-danger" do %>
              <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> 削除</span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>