<section class="form-post-user background-white">
  <h2><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group row">
      <div class="col-1 form-icon">
        <%= f.label :email do %>
          <i class="fa-solid fa-envelope"></i>
        <% end %>
      </div>
      <div class="col-11">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス", required: true %>
      </div>
    </div>

    <div class="form-group mb-2 row">
      <div class="col-1 form-icon">
        <%= f.label :password do %>
          <i class="fa-solid fa-lock"></i>
        <% end %>
      </div>
      <div class="col-11">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", 
        placeholder: "パスワード#{t('devise.shared.minimum_password_length', count: @minimum_password_length)}", required: true %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%= button_tag type: 'submit', class: 'btn btn-regist form-group' do %>
      <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;<span>ログイン</span>
    <% end %>

    <%= link_to users_guest_sign_in_path, class: "btn btn-guest form-group", method: :post do %>
      <i class="fa-solid fa-right-to-bracket"></i></i>&nbsp;<span>ゲストログイン（登録なしでログイン）</span>
    <% end %>
  <% end %>

  <hr>
  <br>
  <%= render "devise/shared/links" %>
</section>
