<%= render "layouts/error_messages" %>

<%= form_with model: @post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %> <br>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :catch_copy %> <br>
    <%= form.text_field :catch_copy, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :birthplace %> <br>
    <%= form.text_field :birthplace, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :castle %> <br>
    <%= form.text_field :castle, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :famous_battle %> <br>
    <%= form.text_field :famous_battle, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :recommend_point %> <br>
    <%= form.text_area :recommend_point, class: "form-control"  %>
  </div>
  <div>
    <%= form.submit button_value, class: "btn btn-primary btn-block" %>
  </div>
<% end %>