<% unless params[:furigana_initial].present? %>
  <h1>武将検索</h1>
  <div class="text-center">
    <%= link_to ranks_posts_path, class: "btn btn-index" do %>
      <i class="fa-solid fa-ranking-star"></i>&nbsp;<span>武将ランキング</span>
    <% end %>
  </div>

  <div class="form">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont, "武将名" %>
      <%= f.search_field :name_cont, size: 15 %>&emsp;
      <%= button_tag type: 'submit', class: 'btn btn-comment-search' do %>
        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;<span>検索</span>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= link_to "あ行", posts_path(furigana_initial: "あ行"), class: "btn btn-furigana btn-lg" %>
    <%= link_to "か行", posts_path(furigana_initial: "か行"), class: "btn btn-furigana btn-lg" %>
  </div>
<% end %>


<% if @posts.present? %>
  <h1>武将検索（<%= params[:furigana_initial] %>）</h1>
  
  <section class="row g-4 card-user">
    <%= render partial: "/users/post", collection: @posts %>
  </section>

  <section class="pagination justify-content-center">
    <%= paginate @posts %>
  </section>

<% else %>
  <div class="text-center">
    <p>武将がいません</p>
    <%= link_to new_post_path, class: "btn btn-comment-search" do %>
      <i class="fa-regular fa-square-plus"></i>&nbsp;<span>武将の登録はこちら</span>
    <% end %>
  </div>
<% end %>