<h1 class="text-center">武将一覧</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, "武将名" %>
  <%= f.search_field :name_cont, size: 15 %>
  <%= f.label :birthplace_cont, "出身地" %>
  <%= f.search_field :birthplace_cont, size: 10 %>
  <%= f.label :castle_cont, "居城" %>
  <%= f.search_field :castle_cont, size: 10 %>
  <%= f.label :famous_battle_cont, "有名な戦い" %>
  <%= f.search_field :famous_battle_cont, size: 15 %>
  <%= f.submit "検索" %>
<% end %>

<table class="table table-bordered table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col" class="w-50" >武将名</th>
      <th scope="col"></th>
    </tr>
  </thead> 

  <tbody>
    <% @posts.each.with_index(1) do |post, i| %>
      <tr>
        <th scope="row" class="text-right" ><%= i %></th>
        <td class="break-word"><%= post.name %></td>
        <td class="text-nowrap">
          <%= link_to post, class: "btn btn-primary" do %>
            <i class="fas fa-envelope-open-text"></i> <span class="d-none d-md-inline"> 詳細</span>
          <% end %>
          <%= link_to edit_post_path(post), class: "btn btn-success" do %>
            <i class="far fa-edit"></i> <span class="d-none d-md-inline"> 編集</span>
          <% end %>
          <%= link_to post, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> 削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>