<% if user_signed_in? %>
  <h1 class="text-center">æ­¦å°†ä¸€è¦§</h1>

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, "æ­¦å°†å" %>
    <%= f.search_field :name_cont, size: 15 %>
    <%= f.label :birthplace_cont, "å‡ºèº«åœ°" %>
    <%= f.search_field :birthplace_cont, size: 10 %>
    <%= f.label :castle_cont, "å±…åŸŽ" %>
    <%= f.search_field :castle_cont, size: 10 %>
    <%= f.label :famous_battle_cont, "æœ‰åãªæˆ¦ã„" %>
    <%= f.search_field :famous_battle_cont, size: 15 %>
    <%= f.submit "æ¤œç´¢" %>
  <% end %>

  <table class="table table-bordered table-striped mt-4">
    <tbody>
    binding.pry
      <% @posts.each do |post| %>
        <tr>
          <td class="break-word"><b><%= post.name %></b></td>
          <td><%= image_tag post.image.thumb.url %></td>
          <td id="post-<%= post.id %>">
            <% if post.liked_by?(current_user) %>
              <%= link_to "ðŸ’–", post_likes_path(post), method: :delete, remote: true %>
              <%= post.likes_count %>
            <% else %>
              <%= link_to "ðŸ¤", post_likes_path(post), method: :post, remote: true %>
              <%= post.likes_count %>
            <% end %>
          </td>
          <td class="text-nowrap">
            <%= link_to post, class: "btn btn-primary" do %>
              <i class="fas fa-envelope-open-text"></i> <span class="d-none d-md-inline"> è©³ç´°</span>
            <% end %>
            <% if current_user.id == post.user_id %>
              <%= link_to edit_post_path(post), class: "btn btn-success" do %>
                <i class="far fa-edit"></i> <span class="d-none d-md-inline"> ç·¨é›†</span>
              <% end %>
              <%= link_to post, method: :delete, data: { confirm: "å‰Šé™¤ã—ã¾ã™ã‹?" }, class: "btn btn-danger" do %>
                <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> å‰Šé™¤</span>
              <% end %>
            <% end %>
          </td>
          <td><%= post.user.nickname if post.user.nickname.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= paginate @posts %>

<% end %>