<% if user_signed_in? %>
  <h1 class="text-center">武将検索</h1>

  <div class="form">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont, "武将名" %>
      <%= f.search_field :name_cont, size: 15 %>&emsp;
      <%= f.label :furigana_initial_cont, "武将名(50音)" %>
      <%= f.collection_select :furigana_initial_cont, Furigana.all, :ini, :ini, {include_blank: "---"} %>&emsp;
      <%= f.label :prefecture_name_cont, "出身地" %>
      <%= f.collection_select :prefecture_name_cont, Prefecture.all, :name, :name, {include_blank: "---"} %>
      <%= button_tag type: 'submit', class: 'btn comment-search-btn' do %>
        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;<span>検索</span>
      <% end %>
    <% end %>
  </div>

  <div class="row row-cols-2 row-cols-md-4 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card h-100 text-card-container">
        <div class="card-title"><%= post.name %></div>

        <div class="card-img-top">
          <%= image_tag post.image.url, :size => "150" %>
        </div>

        <div class="card-body">
          <p class="card-text"><%= post.commentary %></p>
          <%= link_to post, class: "btn card-btn-show-delete" do %>
            <i class="fas fa-envelope-open-text"></i>&nbsp;<span>詳細</span>
          <% end %>

          <p id="post-<%= post.id %>">
            <% if post.liked_by?(current_user) %>
              <%= link_to post_likes_path(post), method: :delete, remote: true do %>
                <i class="fas fa-heart"></i>
              <% end %>
              &nbsp;<%= post.likes_count %>
            <% else %>
              <%= link_to post_likes_path(post), method: :post, remote: true do %>
                <i class="far fa-heart"></i>
              <% end %>
              &nbsp;<%= post.likes_count %>
            <% end %>
            
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>

<div class="pagination justify-content-center">
  <%= paginate @posts %>
</div>

<% else %>
  <%= render "layouts/top" %>
<% end %>