<% if params[:prefecture_name].present? %>
  <h1><%= params[:prefecture_name] %>の戦国武将</h1>
  <p class="text-center">検索結果&nbsp;<%= Post.select_prefecture_name(params[:prefecture_name]).count %>件</p> 

  <section class="row g-4">
    <%= render @posts %>
  </section>

  <section class="pagination justify-content-center">
    <%= paginate @posts %>
  </section>
<% end %>

<br>
<br>
<section class="background-white prefecture-area">
  <h1>出身地で探す</h1>

  <div class="btn-prefecture">
    <p>北海道・東北地方</p>
    <hr>
    <div class="row">
      <% Post.prefecture_names.keys[0..6].each do |p| %>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3">
          <b><%= link_to "#{p}", prefecture_posts_path(prefecture_name: "#{p}") %></b>
        </div>
      <% end %>
    </div>

    <p class="mt-3">関東地方</p>
    <hr>
    <div class="row">
      <% Post.prefecture_names.keys[7..13].each do |p| %>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3">
          <b><%= link_to "#{p}", prefecture_posts_path(prefecture_name: "#{p}") %></b>
        </div>
      <% end %>
    </div>

    <p class="mt-3">中部地方</p>
    <hr>
    <div class="row">
      <% Post.prefecture_names.keys[14..22].each do |p| %>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3">
          <b><%= link_to "#{p}", prefecture_posts_path(prefecture_name: "#{p}") %></b>
        </div>
      <% end %>
    </div>

    <p class="mt-3">近畿地方</p>
    <hr>
    <div class="row">
      <% Post.prefecture_names.keys[23..29].each do |p| %>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3">
          <b><%= link_to "#{p}", prefecture_posts_path(prefecture_name: "#{p}") %></b>
        </div>
      <% end %>
    </div>

    <p class="mt-3">中国・四国地方</p>
    <hr>
    <div class="row">
      <% Post.prefecture_names.keys[30..38].each do |p| %>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3">
          <b><%= link_to "#{p}", prefecture_posts_path(prefecture_name: "#{p}") %></b>
        </div>
      <% end %>
    </div>

    <p class="mt-3">九州・沖縄地方</p>
    <hr>
    <div class="row">
      <% Post.prefecture_names.keys[39..46].each do |p| %>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3">
          <b><%= link_to "#{p}", prefecture_posts_path(prefecture_name: "#{p}") %></b>
        </div>
      <% end %>
    </div>
  </div>
</section>