<section class="row rank-page" >
  <h1>いいね数ランキング</h1>
  <% @post_like_ranks.each.with_index(1) do |post, i| %>
    <%= render partial: "ranks_common", locals: {post: post, i: i} %>
  <% end %>

  <h1>コメント数ランキング</h1>
  <% @post_comment_ranks.each.with_index(1) do |post, i| %>
    <%= render partial: "ranks_common", locals: {post: post, i: i} %>
  <% end %>

  <h1>ユーザーの登録数ランキング</h1>
  <% @user_post_ranks.each.with_index(1) do |user, i| %>
    <%= render partial: "ranks_user", locals: {user: user, i: i} %>
    <a href="/users/<%= user.id %>"><%= user.nickname %></a>
  <% end %>
</section>