<h1>武将詳細</h1>
<p>武将名 <br><%= @post.name %></p>
<p>キャッチコピー <br><%= @post.catch_copy %></p>
<p>出身地 <br><%= @post.birthplace %></p>
<p>居城 <br><%= @post.castle %></p>
<p>有名な戦い <br><%= @post.famous_battle %></p>
<p>おすすめポイント <br><%= @post.recommend_point %></p>
