<h1 class="card text-center">武将詳細</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
      <h4><%= @post.name %> &nbsp;&nbsp; <small><%= @post.furigana_name %></small></h4>
  </div>
  <div class="card-body">
    <p><%= image_tag @post.image.url %></p>
    <p>出身地：<b><%= @post.prefecture_name %></b></p>
  </div>
</section>

<p id="post-<%= @post.id %>" >
  <% if @post.liked_by?(current_user) %>
    <%= render "like", post: @post %>
  <% else %>
    <%=  render "dislike", post: @post %>
  <% end %>
</p>

<p>
  <% if current_user.id == @post.user_id %>
    <%= link_to "武将編集", edit_post_path(@post), class: "btn btn-success" %>
    <%= link_to "武将削除", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "削除しますか？" } %>
  <% end %>
  <%= link_to "武将一覧へ", posts_path, class: "btn btn-primary" %>
</p>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= current_user.id %>"><%= c.user.nickname %></a>
    <%= l c.created_at %><br>
    <%= safe_join(c.content.split("\n"),tag(:br)) %>
    
    <% if current_user.id == c.user_id %>
      <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
    <% end %>
    <hr>
  </div>
<% end %>

<%= form_with(model:[@post, @comment], method: :post) do |f| %>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
  <%= f.submit 'コメントする', class: "btn btn-primary"  %>
<% end %>