<h1 class="card text-center">武将詳細</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
    <h4><%= @post.name %></h4>
  </div>
  <div class="card-body">
    <p>キャッチコピー <br><b><%= @post.catch_copy %></b></p>
    <p>出身地 <br><b><%= @post.birthplace %></b></p>
    <p>居城 <br><b><%= @post.castle %></b></p>
    <p>有名な戦い <br><b><%= @post.famous_battle %></b></p>
    <p>おすすめポイント <br><b><%=safe_join(@post.recommend_point.split("\n"),tag(:br))%></b></p>
  </div>
</section>