<section class="card card-show">
  <div class="card-title">
      <h4><%= @post.name %> &nbsp;&nbsp; <small><%= @post.furigana_name %></small></h4>
  </div>

  <div class="card-body">
    <p><%= image_tag @post.image.url, :size => "400" %></p>
    <div class="px-5">
      <font size="4">
      <p><%= @post.commentary %></p>
      <p>出身地：<b><%= @post.prefecture_name %></b></p>
      <p>作成者：
        <% if @post.user.nickname.present? %>
          <%= link_to @post.user.nickname, user_path(@post.user.id) %>
        <% end %>
      </p>
      </font>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to edit_post_path(@post), class: "btn btn-edit" do %>
          <i class="fa-regular fa-pen-to-square"></i>&nbsp;<span>編集</span>
        <% end %>
        <%= link_to post_path(@post), class: "btn btn-show-delete", method: :delete, data: { confirm: "削除しますか？" } do %>
          <i class="fa-regular fa-trash-can"></i>&nbsp;<span>削除</span>
        <% end %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <p id="post-<%= @post.id %>" >
      <% if @post.liked_by?(current_user) %>
        <%= render "like", post: @post %>
      <% else %>
        <%=  render "dislike", post: @post %>
      <% end %>
      </p>
    <% end %>
  </div>
</section>

<br>

<section class="comment background-white">
  <div class="text-center">
    <h3>おすすめのポイントをコメントしよう！</h3>

    <% if user_signed_in? %>
      <%= form_with(model:[@post, @comment], method: :post) do |f| %>
        <%= f.text_area :content, required: true, class: "form-area" %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br>

        <%= button_tag type: 'submit', class: 'btn btn-comment-post mt-3' do %>
          <i class="fa-solid fa-pen"></i>&nbsp;<span>コメントを書く</span>
        <% end %>
      <% end %>
    <% else %>
      <p><b>コメントを書くにはログインが必要です</b></p>
      <%= link_to new_user_session_path, class: 'btn btn-post-show' do %>
        <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;<span>ログイン</span>
      <% end %>
    <% end %>
  </div>

  <% @comments.each do |c| %>
    <div>
      <a href="/users/<%= c.user.id %>"><%= image_tag c.user.user_image.thumb.url, class: "user-img-thumb" %></a>
      &nbsp;<a href="/users/<%= c.user.id %>"><b><%= c.user.nickname %></b></a>
      &nbsp;<%= l c.created_at %>
      
      <% if user_signed_in? %>
        <% if current_user.id == c.user_id %>
          <%= link_to post_comment_path(@post, c), method: :delete, data: { confirm: "削除しますか？" } do %>
            &nbsp;<i class="fa-regular fa-trash-can"></i><br>
          <% end %>
        <% end %>
      <% end %>
      <p class="comment-content"><%= safe_join(c.content.split("\n"),tag(:br)) %></p>

      <% unless @comments.last == c %>
        <hr>  
      <% end %>
    </div>
  <% end %>
</section>