<section class="top-page-area">
  <div class="catch-copy">
    <%= image_tag "sengoku.png" %>
    <h2>みんなの戦国武将</h2>
  </div>

  <h1>みんなの戦国武将とは</h1>
  <p><b>200名以上の豊富な戦国武将から好きな武将を探したり、登録することができます。<br> 好きな武将にコメントすることで、気の合う仲間と繋がることができるアプリです。</b></p>
  <br>

  <div class="background-white-busyou catch-copy">
    <h3>戦国武将</h3>
    <p>戦国時代(1467年応仁の乱〜1615年大坂の陣)に、軍を指揮し統率した長を指します。<br> 名を馳せた戦国武将は数多く、統治した地域は現在の街づくりの基礎になっています。</p>
  </div>
  <br>

  <div class="background-white-regist">
    <h2>アカウント登録はこちら</h2>
    <p>戦国武将を通して多くの仲間を見つけよう！ さあ、今すぐに登録しよう！</p>
    <%= link_to new_user_registration_path, class: "btn btn-show-delete btn-lg" do %>
      <i class="fa-solid fa-user-plus"></i>&nbsp;<span>新規登録</span>
    <% end %>
  </div>
  <br>

  <h2>主な<b>4</b>つの機能</h2>
  <div class="row g-4">
    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to posts_path do %>
          <%= image_tag "sengokubusyou.png", width: 300, height: 225 %>

          <div class="card-body">
            <h5 class="card-title">武将検索</h5>
            <p class="card-text">200名以上の戦国武将を検索できます</p>
            <%= link_to posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-magnifying-glass"></i>&nbsp;<span>武将を検索する</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to info_posts_path do %>
          <%= image_tag "comment.png", width: 300, height: 225 %>

          <div class="card-body">
            <h5 class="card-title">コメント投稿</h5>
            <p class="card-text">好きな戦国武将にコメントできます</p>
            <%= link_to info_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-pen"></i>&nbsp;<span>コメントを投稿する</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <br>

  <div class="row g-4">
    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to info_posts_path do %>
          <%= image_tag "follow.png", width: 300, height: 225 %>

          <div class="card-body">
            <h5 class="card-title">フォロー</h5>
            <p class="card-text">気の合う仲間にフォローできます</p>
            <%= link_to info_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-people-arrows"></i>&nbsp;<span>仲間をフォローする</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to info_posts_path do %>
          <%= image_tag "regist.png", width: 300, height: 225 %>
          
          <div class="card-body">
            <h5 class="card-title">武将登録</h5>
            <p class="card-text">好きな武将を新たに登録できます</p>
            <%= link_to info_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-regular fa-square-plus"></i>&nbsp;<span>武将を登録する</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <br>
  <h3>ランキングで武将を探せます！</h3>
  <%= render "ranks" %>

</section>