<section class="top-page-area">
  <h2>みんなの戦国武将とは</h2>
  <p><b>200人以上の豊富な戦国武将の中から、好きな武将を見つけることができます。<br> 見つけた武将にコメントを投稿することで、気の合う仲間とつながることができるアプリです。</b></p>
  <br>

  <div class="background-white-busyou">
    <h3>戦国武将とは</h3>
    <p>1467年応仁の乱〜1615年大坂の陣終結の戦国時代に、軍を指揮し統率した長を指します。<br> 名を馳せた戦国武将は数多く、統治した地域は現在の街づくりの基礎になっています。</p>
  </div>
  <br>

  <h3>主な4つの機能</h3>
  <div class="row g-4">
    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to posts_path do %>
          <%= image_tag "sengokubusyou.png", width: 360, height: 270 %>

          <div class="card-body">
            <h5 class="card-title">武将検索</h5>
            <p class="card-text">様々な戦国武将を50音や出身地などで検索できます</p>

            <%= link_to posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-magnifying-glass"></i>&nbsp;<span>50音で探す</span>
            <% end %>

            <%= link_to prefecture_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-vihara"></i>&nbsp;<span>出身地で探す</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to info_posts_path do %>
          <%= image_tag "comment.png", width: 360, height: 270 %>
          <div class="card-body">
            <h5 class="card-title">コメント投稿</h5>
            <p class="card-text">好きな戦国武将を見つけたら、コメントできます</p>
            <%= link_to info_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-pen"></i>&nbsp;<span>コメントを投稿する</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <br>

  <div class="row g-4">
    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to info_posts_path do %>
          <%= image_tag "follow.png", width: 360, height: 270 %>
          <div class="card-body">
            <h5 class="card-title">フォロー</h5>
            <p class="card-text">気の合うユーザーを見つけたら、フォローできます</p>
            <%= link_to info_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-solid fa-people-arrows"></i>&nbsp;<span>フォローする</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="card card-top h-100">
        <%= link_to info_posts_path do %>
          <%= image_tag "regist.png", width: 360, height: 270 %>
          <div class="card-body">
            <h5 class="card-title">武将登録</h5>
            <p class="card-text">好きな武将を新たに登録することができます</p>
            <%= link_to info_posts_path, class: "btn btn-index mx-2 my-2" do %>
              <i class="fa-regular fa-square-plus"></i>&nbsp;<span>武将を登録する</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class="background-white-regist">
    <h3>登録はこちら</h3>
    <p>戦国武将を通して多くの仲間を見つけよう！ さあ、今すぐ登録しよう！</p>
    <%= link_to new_user_registration_path, class: "btn btn-show-delete" do %>
      <i class="fa-solid fa-user-plus"></i>&nbsp;<span>新規登録</span>
    <% end %>
  </div>
</section>