<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <span class="navbar-brand">おすすめ戦国武将アプリ</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <% if user_signed_in? %>
      <%= link_to "武将一覧", posts_path, class: "nav-item nav-link active" %>
      <%= link_to "新規武将", new_post_path, class: "nav-item nav-link active" %>
      <%= link_to "マイページ", users_path, class: "nav-item nav-link active" %>
      <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか?"}, class: "nav-item nav-link active"  %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link active" %>
      <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-item nav-link active" %>
    <% end %>
    </div>
  </div>
</nav>